    <ion-footer>
  <ion-toolbar>
      <center>
 <a href="{{ site.url}}">   {{ site_title }}</a> 
 built with <a href="https://picocms.org">Pico</a> <a href="https://ionicframework.com">Ionic</a> 
               made with 💘 by <a href="https://axcora.my.id/piconic">axcora</a>.
  </center>
  </ion-toolbar>
</ion-footer>


 </ion-content>