 <ion-header>
    <ion-toolbar color="primary" class="ion-padding">
      <ion-title><a href="{{ "index"|link }}"><center>
          <ion-avatar><img src="{{ pages["_meta"].meta.logo|url }}" width="80" alt=""/></ion-avatar></a> 
      <!--<a href="{{ "index"|link }}" style="color:white;">{{ site_title }}</a>--></center></ion-title>
      </ion-toolbar>
  </ion-header>